<div fxFlexFill class="back" fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto">
	<div style="height: 95px;"></div>
	<div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%; height: 100%;">
		<!--<div style="height: 50px; padding-right: 1.25em; padding-left: 1.25em; border-bottom : 1px solid black"-->
			 <!--class="bg-primary" fxLayout="row" fxLayoutAlign="end center">-->
			<!--<span style="font-weight : bold; color: white; margin-right: 5px;">Configuration</span>-->
			<!--<mat-select (selectionChange)="configChange($event)" [(value)]="configuration" style="background-color: white; width: 300px; text-align: center;">-->
				<!--<mat-option *ngFor="let config of configCatalog" [value]="config">{{config.name}}</mat-option>-->
			<!--</mat-select>-->
		<!--</div>-->
		<mat-sidenav-container fxFlex="100">
			<mat-sidenav #snav opened="true" mode="side" style="background-color : #031a4c; border-right : 1px solid black; max-width: 200px;">
				<div class="btn-primary" style="width: 100%; border-bottom: 1px solid; text-align: center; padding: 10px;">
					<span style="font-weight : bold; color: white;">Configuration</span>
					<mat-select [compareWith]="same" [(value)]="configuration" style="background-color: white; text-align: center;">
						<mat-option>None</mat-option>
						<mat-option *ngFor="let config of configCatalog" [value]="config">{{config.name}}</mat-option>
					</mat-select>
					<mat-divider></mat-divider>
					<span> Templates </span>
					<span style="color: white; cursor: pointer; float: right;"><i class="fa fa-plus" [routerLink]="['../new']"></i></span>
				</div>

				<mat-nav-list style="padding-top: 0 !important;">
					<a mat-list-item  *ngFor="let c of catalog | templateFilter : configuration" [routerLink]="['../'+c.id]" routerLinkActive="nav-link-active" style="border-bottom: 1px solid white; text-align : center; color: white; "><span class="badge badge-info">{{c.owner}}</span> &nbsp; {{c.name}}</a>
				</mat-nav-list>
			</mat-sidenav>
			<mat-sidenav-content style="background-color: transparent !important;">
				<div style="height: 100%; width: 100%; padding: 10px;" fxLayout="column" fxLayoutAlign="start stretch">
					<div *ngIf="control.edit && control.vonly" fxLayout="row" fxLayoutAlign="space-between center">
						<h4 style="color: white;">View Template</h4>
					</div>
					<div *ngIf="control.edit && !control.vonly" fxLayout="row" fxLayoutAlign="space-between center">
						<h4 style="color: white;">Edit Template</h4>
						<div fxLayout="row" fxLayoutAlign="end center">
							<button class="btn btn-danger" (click)="deleteTemplate()">
								<i class="fa fa-trash"></i>
								Delete
							</button>
							<button class="btn btn-success" *ngIf="submittable()" (click)="save()">
								<i class="fa fa-save"></i>
								Save
							</button>
						</div>
					</div>
					<div *ngIf="!control.edit" fxLayout="row" fxLayoutAlign="space-between center">
						<h4 style="color: white;">Create Template</h4>
						<button class="btn btn-success" *ngIf="submittable()" (click)="save()">
							<i class="fa fa-save"></i>
							Save
						</button>
					</div>
					<div fxLayout="column" fxLayoutAlign="start stretch">
						<strong style="margin-bottom: 5px; color: white;">Template Name</strong>
						<input disabled="{{control.vonly}}" [(ngModel)]="template.name" placeholder="Name"/>
					</div>
					<div fxLayout="column" fxLayoutAlign="start stretch">
						<strong style="margin-bottom: 5px; color: white;">Description</strong>
						<textarea disabled="{{control.vonly}}" [(ngModel)]="template.description" rows="5" placeholder="Description"></textarea>
					</div>
					<div *ngIf="!control.edit"  fxLayout="column" fxLayoutAlign="start stretch">
						<strong style="margin-bottom: 5px; color: white;">Base On Configuration</strong>
						<mat-select *ngIf="!control.edit" (selectionChange)="selectConfig($event)" [compareWith]="same" [(value)]="baseOn" style="background-color: white; text-align: center;">
							<mat-option *ngFor="let config of configCatalog" [value]="config">{{config.name}}</mat-option>
						</mat-select>
					</div>
					<div  *ngIf="template.configuration"  style="margin-top: 5px; margin-bottom: 5px;" fxLayout="row" fxLayoutAlign="end end">
						<button class="btn btn-primary" style="border: 1px solid white;" (click)="add()">
							<i class="fa fa-plus"></i>
							Add Section
						</button>
					</div>
					<div fxFlex style="overflow-y: scroll;" fxLayout="row" fxLayoutWrap>
						<div *ngFor="let section of template.sections; let i = index" fxLayout="column" fxLayoutAlign="start stretch" style="margin-right: 10px;">
							<button class="btn btn-danger" style="width: 100px;" (click)="delete(i)">
								<i class="fa fa-trash"></i>
								Delete
							</button>
							<app-report-section [detections]="detections" [configuration]="template.configuration" [section]="section" (change)="update(i,$event)"></app-report-section>
						</div>
					</div>
				</div>
				<!--<div *ngIf="!(configuration && configuration.id && configuration.id !== '')" style="height: 100%; width: 100%; padding: 10px;" fxLayout="column" fxLayoutAlign="center center">-->
					<!--<span style="color: lightgrey; font-weight: bold; font-size: 25px;">SELECT A CONFIGURATION ABOVE</span>-->
				<!--</div>-->
			</mat-sidenav-content>
		</mat-sidenav-container>
	</div>
</div>
