<nav fxLayout="column" fxLayoutAlign="start start" class="navbar fixed-top navbar-dark nav-back" style="padding: 0px;">
	<div fxLayout="row" fxLayoutAlign="start center" style="padding-left : 16px;">
		<a class="navbar-brand" href="#">
			<span style="color: #F3C60D; font-size: 25px; font-weight: bold;">NIST</span>&nbsp;&nbsp;<span
			style="font-size: 17px; color: #ececec;"><strong>D</strong>ATA <strong>A</strong>T <strong>R</strong>EST <strong>QU</strong>ALITY <strong>A</strong>NALYSIS</span>
			&nbsp;<span class="badge" style="background-color: orangered; font-size: 10px;">{{sInfo().version}}-{{sInfo().qualifier}}</span>
		</a>
	</div>
	<div style="width: 100%; background-color: #ffec9d;" fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="80" fxLayoutAlign="start center">
			<a class="nav-item nav-link" [routerLink]="[ 'home' ]"  routerLinkActive="active">Home</a>
			<a class="nav-item nav-link" [routerLink]="[ 'download' ]"  routerLinkActive="active">Download</a>
			<a  *ngIf="logged()" class="nav-item nav-link" [routerLink]="[ 'data' ]"  routerLinkActive="active">Data</a>
			<a  *ngIf="logged()" class="nav-item nav-link" [routerLink]="[ 'configuration' ]"  routerLinkActive="active">ADF Configuration</a>
			<a  *ngIf="logged()" class="nav-item nav-link" [routerLink]="[ 'report-templates' ]"  routerLinkActive="active">Report Templates</a>
			<a class="nav-item nav-link" [routerLink]="[ 'release-notes' ]"  routerLinkActive="active">Release Note</a>
			<a class="nav-item nav-link" [routerLink]="[ 'issues' ]"  routerLinkActive="active">Issues</a>
      <a class="nav-item nav-link" [routerLink]="[ 'about' ]"  routerLinkActive="active">About</a>
      <a class="nav-item nav-link" [routerLink]="[ 'account' ]"  routerLinkActive="active">Account</a>
		</div>
		<div fxFlex="20"  fxLayoutAlign="end center">
			<div *ngIf="!logged()">
				<a  class="nav-item nav-link" [routerLink]="[ 'login' ]" routerLinkActive="active" >Login</a>
			</div>
			<div *ngIf="logged()" fxLayoutAlign="end center">
				<span style="color: #000000; margin-right : 10px;">
					Welcome <span style="color: #031a4c !important;">{{user().username}} !</span>
				</span>
				<i class="fa fa-power-off" aria-hidden="true" style="font-size: 2em; color: red; cursor: pointer;" (click)="logout()"></i>
			</div>
		</div>
	</div>
</nav>
