.nav-back {
	background-color: #031a4c;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid black;
}

.nav-link:hover {
	background-color: #F3C60D !important;
}

.nav-link {
	color: black !important;
}

.active {
	text-shadow: 0px 0px 21px rgba(255, 255, 255, 0.6);
	background-color: #F3C60D !important;
}
