:host ::ng-deep .container-section-toolbar {
  grid-template-rows: [toolbar] 55px [page-container-content] auto !important;
}

.scrollable-nav {
  flex-wrap: nowrap;
  overflow: scroll;
}

.title-text {
  text-wrap: nowrap;
}