<ng-template #headerControls>
  <a download="configuration.json" [href]="'api/configuration/'+value.id+'/download'" *ngIf="(widget.containsUnsavedChanges$() | async) === false">
    <button class="btn btn-sm btn-dark" style="margin-right: 5px;" [disabled]="widget.containsUnsavedChanges$() | async">
      <i class="fa fa-download"></i>
      Download
    </button>
  </a>
  <button class="btn btn-sm btn-dark" style="margin-right: 5px;" *ngIf="(widget.containsUnsavedChanges$() | async)" [disabled]="true">
    <i class="fa fa-download"></i>
    Download
  </button>
  <button class="btn btn-sm btn-primary" style="margin-right: 5px;"
    [disabled]="widget.containsUnsavedChanges$() | async"
    (click)="publish()"
    *ngIf="!isPublished && 'PUBLISH' | accessOnResource: value:'CONFIGURATION' | async"
  >
    <i class="fa fa-globe"></i>
    Publish
  </button>
  <button class="btn btn-sm btn-info" style="margin-right: 5px;" [disabled]="(widget.containsUnsavedChanges$() | async) || ('EDIT' | accessOnResource: value: 'CONFIGURATION' | async) === false" (click)="lock()" *ngIf="!isLocked">
    <i class="fa fa-lock"></i>
    Lock
  </button>
</ng-template>
<form>
  <div class="form-group">
    <label for="name"><strong>Configuration Name</strong></label>
    <input type="text" placeholder="Name" class="form-control" name="name" id="name" [ngModel]="value.name" (input)="nameChange($event.target.value)" [disabled]="(viewOnly$ | async)" required>
  </div>
  <div class="form-group" >
    <label for="description"><strong>Description</strong></label>
    <p-editor *ngIf="(viewOnly$ | async) === false" name="description" id="description" [ngModel]="value.description" (ngModelChange)="descriptionChange($event)" [style]="{'height':'130px'}">
    </p-editor>
    <div *ngIf="(viewOnly$ | async)" [innerHTML]="value.description"></div>
  </div>
  <div class="form-group" >
    <label for="asOf"><strong>Analyse As Date</strong></label><br>
    <p-calendar
      inputStyleClass="form-control"
      *ngIf="(viewOnly$ | async) === false"
      name="asOf"
      id="asOf"
      [ngModel]="value.payload.asOf"
      dateFormat="mm/dd/yy"
      dataType="string"
      (ngModelChange)="asOfChange($event)"
      placeholder="Analyse As Of Day Of Analysis"
      appendTo="body"
    ></p-calendar>
    <span *ngIf="(viewOnly$ | async)">{{ value.payload.asOf ? value.payload.asOf : 'Analyse as of day of analysis' }}</span>
  </div>
  <div class="form-group">
    <label for="patientMatching"><strong>Patient Matching</strong></label><br>
    <p-checkbox
      id="patientMatching"
      name="patientMatching"
      [disabled]="viewOnly$ | async" label="Activate"
      [ngModel]="value.payload.activatePatientMatching" (ngModelChange)="pmChange($event)" [binary]="true">
    </p-checkbox>
  </div>
  <div class="form-group">
    <label for="patientMatching"><strong>MISMO Patient Matcher Configuration</strong></label><br>
    <ngx-codemirror
      placeholder="MISMO Configuration"
      [ngClass]="{ 'expand-textarea': !configurationTextAreaCollapsed }"
      name="mismo-configuration"
      id="mismo-configuration"
      [ngModel]="value.payload.mismoPatientMatchingConfiguration"
      (ngModelChange)="mismoConfigChange($event)"
      [disabled]="(viewOnly$ | async) || !value.payload.activatePatientMatching"
      [options]="yamlEditorOptions"
    ></ngx-codemirror>
    <div style="border-top: 1px solid rgb(163, 163, 163); width: 100%; display: flex; align-items: center; justify-content: center;">
      <div style="cursor: pointer;" *ngIf="configurationTextAreaCollapsed" (click)="configurationTextAreaCollapsed = !configurationTextAreaCollapsed" >
        <i class="fa fa-chevron-down" style="margin-right: 10px;"></i> expand
      </div>
      <div style="cursor: pointer;" *ngIf="!configurationTextAreaCollapsed" (click)="configurationTextAreaCollapsed = !configurationTextAreaCollapsed">
        <i class="fa fa-chevron-up" style="margin-right: 10px;"></i> collapse
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="ageGroups"><strong>Age Groups</strong></label>
    <app-age-groups
      id="ageGroups"
      [ageGroups]="value.payload.ageGroups"
      [viewOnly]="(viewOnly$ | async)"
      (valueChange)="ageGroupsChange($event)"
    ></app-age-groups>
  </div>
  <div class="form-group">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <label for="complex-detections"><strong>Complex Detections</strong></label>
      <button class="btn btn-sm btn-primary" (click)="openComplexDetectionDialog()" *ngIf="(viewOnly$ | async) === false">
        <i class="fa fa-plus"></i>
        Create Detection
      </button>
    </div>
    <p-table id="complex-detections" [value]="value.payload.complexDetections" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th *ngIf="(viewOnly$ | async) === false">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-index="rowIndex">
        <tr>
          <td>{{rowData.code}}</td>
          <td>{{rowData.description}}</td>
          <td *ngIf="(viewOnly$ | async) === false">
            <div style="width: 100%; display: flex; justify-content: flex-end; align-items: center; gap: 5px;">
              <button class="btn btn-sm btn-primary" (click)="openComplexDetectionDialog(index)" >
                <i class="fa fa-pencil"></i>
                Edit
              </button>
              <button class="btn btn-sm btn-danger" (click)="deleteComplexDetection(index)" >
                <i class="fa fa-trash"></i>
                Delete
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="form-group">
    <label for="detections"><strong>Managed Detections</strong></label>
    <app-detections-list
      id="detections"
      [viewOnly]="(viewOnly$ | async)"
      [detections]="detections | async"
      [value]="value.payload.detections"
      (valueChange)="detectionsChange($event)"
    ></app-detections-list>
  </div>
</form>
