.value {
  text-align: center;
  font-weight: bold;
  position: relative;
}

.bar {
  height: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.bar-start {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.bar-end {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ok-bar-aira {
  background-color: #629F44 !important;
}
.danger-bar-aira {
  background-color: #F72222 !important;
}
.threshold-aira {
  border-right: 2px solid #ECBC0A;
}
.neutral-bar-aira {
  background-color: #ECBC0A !important;
}
