<div style="display: flex; justify-content: flex-start; align-items: center; width: 100%; height: 40px; position: relative;">
  <div style="position: absolute; left: 0;" [ngStyle]="{ 'width' : bar + '%' }" class="bar bar-end" [ngClass]="{
    'danger-bar-aira' : BarStyle.FAIL === style,
    'ok-bar-aira' : BarStyle.SUCCESS === style,
    'neutral-bar-aira' : BarStyle.NEUTRAL === style
   }"></div>
   <div *ngIf="hasThreshold" style="position: absolute; left: 0; height: 100%;" [ngStyle]="{ 'width' : threshold + '%' }" class="threshold-aira"></div>
</div>
