<div fxFlexFill class="back" fxLayout="column" fxLayoutAlign="start stretch" *blockUI="'job-create'">
	<div style="height: 60px;"></div>
	<div fxFlex fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
		<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="60" class="card" style="padding: 50px; width: 60%;">
			<div class="card-block"  fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch">
				<h4 class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
					<span> Create Job </span>
					<div fxLayout="row" fxLayoutAlign="end center">
						<button routerLink="../dashboard" fxFlexOffset="2" type="button" class="btn btn-warning">
							<span>Dashboard</span>
						</button>
						<button (click)="create()" *ngIf="config() && filesValid()" fxFlexOffset="2" type="button" class="btn btn-success">
							<span>Create</span>
						</button>
					</div>
				</h4>
				<div fxLayout="row" fxLayoutAlign="center stretch" >
					<table class="table table-sm" fxFlex="100" style="height: 100%;">
						<thead style="background-color: lightgrey;">
						<tr>
							<th style="padding-left: 5px;" fxLayout="row" fxLayoutAlign="space-between center">
								<span>Configuration</span>
								<i *ngIf="config()" style="font-size: 1.5em; color: green;" class="fa fa-check-circle" aria-hidden="true"></i>
								<i *ngIf="!config()" style="font-size: 1.5em; color: red;" class="fa fa-times-circle" aria-hidden="true"></i>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td fxLayout="column" style="height: 100%; width : 100%; padding: 0 !important;" fxLayoutAlign="start stretch">
								<div fxLayout="row" fxLayoutAlign="start center">
									<span  fxFlex="50" style="text-align: center;">
										<strong>Name</strong>
									</span>
									<input fxFlex="50" required minlength="4" [(ngModel)]="name"  class="form-control" placeholder="Job Name" type="text">
								</div>
							</td>
						</tr>
						<tr>
							<td fxLayout="column" style="height: 100%; width : 100%; padding: 0 !important;" fxLayoutAlign="start stretch">
								<div fxLayout="row" fxLayoutAlign="start center">
									<span  fxFlex="50" style="text-align: center;">
										<strong>Configuation</strong>
									</span>
									<div fxFlex="50"  fxLayout="column" fxLayoutAlign="center center" class="btn-group">
										<button style="width: 100%; text-align: center;" type="button" class="btn btn-primary" fxLayout="row" fxLayoutAlign="space-between center" (click)="toggleConfig()">
											<span>Configurations</span>
											<span  *ngIf="configuration" class="badge badge-default"><i style="color: black;" class="fa fa-cog"></i> {{configuration?.name}}</span>
											<i *ngIf="confToggle" style="color: black; font-size: 1.2em;" class="fa fa-chevron-up"></i>
											<i *ngIf="!confToggle" style="color: black; font-size: 1.2em;" class="fa fa-chevron-down"></i>
										</button>
									</div>
								</div>
							</td>
						</tr>
						<tr *ngIf="confToggle">
							<td fxLayout="column" style="height: 100%; width : 100%; padding: 0 !important;" fxLayoutAlign="start stretch">
								<div fxLayout="row" fxLayoutAlign="end center">
									<div fxFlex="50"  fxLayout="column" fxLayoutAlign="center center" class="btn-group">
										<div class="list-group" style="width: 100%;">
											<a *ngFor="let conf of configurations" (click)="selectConfig(conf)" class="list-group-item list-group-item-action" fxLayout="column" fxLayoutAlign="center stretch">
												{{conf?.name}}
											</a>
										</div>
									</div>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="60" >
					<table class="table table-sm" fxFlex="100" style="height: 100%;">
						<thead style="background-color: lightgrey;">
							<tr>
								<th style="padding-left: 5px;"  fxLayout="row" fxLayoutAlign="space-between center">
									<span>Files</span>
									<i *ngIf="filesValid()" style="font-size: 1.5em; color: green;" class="fa fa-check-circle" aria-hidden="true"></i>
									<i *ngIf="!filesValid()" style="font-size: 1.5em; color: red;" class="fa fa-times-circle" aria-hidden="true"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td fxLayout="row" style="height: 100%; padding: 0 !important;" fxLayoutAlign="start stretch">
									<app-file-component (file)="patientsUpdate($event)" fxFlex="50" label="Patient Records File"></app-file-component>
									<app-file-component (file)="vaccinesUpdate($event)" fxFlex="50" label="Vaccination Records File"></app-file-component>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
