#The Application requires Several Environment variables to run, here is an example of testing environment variables
#The steps to the generation of keys are detailed in another document

QDAR_STORE=test-directory/adf/store
QDAR_ADF_KEY_ALIAS=adf_alias
QDAR_ADF_KEY_PASSWORD=test-adf-key-password
QDAR_ADF_JKS_PASSWORD=test-adf-jks-password
QDAR_ADF_JKS_PATH=test-directory/adf/.jks
QDAR_AUTH_KEY_ALIAS=auth_alias
QDAR_AUTH_KEY_PASSWORD=test-auth-key-password
QDAR_AUTH_JKS_PASSWORD=test-auth-jks-password
QDAR_AUTH_JKS_PATH=test-directory/auth/.jks
QDAR_ADF_STORE_UPGRADE_CHECK=false
# commands to generate keys
#keytool -genkeypair -keyalg RSA -keypass test-adf-key-password -keystore test-directory/adf/.jks -storepass test-adf-jks-password -alias auth_alias;
#keytool -genkeypair -keyalg RSA -keypass test-auth-key-password -keystore test-directory/auth/.jks -storepass test-auth-jks-password -alias adf_alias;
