*.classpath
*.settings*
*target*
*.project*
*.classpath*
*.metadata
public/*
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
*.idea*
*.iml*
*.vscode
*.gz
*node_modules*
lucene-index/lucene-index.iml
darq-webapp/darq-app/src/main/resources/public/
