<div class="page-container">
  <div class="page-alerts">
    <dam-alerts-container></dam-alerts-container>
  </div>
  <div class="page-title upload-page-title">
    <h4 class="title-text title-heading" ><i class="fa fa-key" style="color: blue;"></i> Reset password </h4>
  </div>
  <div class="page-content upload-page-content">
    <form class="upload-form" [formGroup]="form" [appMustMatch]="['password', 'confirmPassword']">
      <div class="form-group">
        <label for="username"><strong>Username</strong></label>
        <input type="text" placeholder="Username" class="form-control" formControlName="username" name="username" id="username" required>
      </div>
      <div class="form-group">
        <label for="password"><strong>Password</strong></label>
        <input type="password" placeholder="password" class="form-control" formControlName="password" name="password" id="password" required>
      </div>
      <div class="form-group">
        <label for="name"><strong>Confirm Password</strong></label>
        <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" required>
      </div>
      <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
        <button class="btn btn-sm btn-primary" [disabled]="form.invalid" (click)="submit()">
          Reset password
        </button>
      </div>
    </form>
  </div>
</div>
