<div class="card" style="width: 100%; background-color: bisque; margin-bottom: 5px; padding: 10px;" fxLayout="column" fxLayoutAlign="start stretch">
	<div fxLayout="column" fxLayoutAlign="start stretch">
		<strong style="margin-bottom: 5px;">Title</strong>
		<input  [(ngModel)]="_section.title" (ngModelChanged)="changed()" placeholder="Name"/>
	</div>
	<div fxLayout="column" fxLayoutAlign="start stretch">
		<strong style="margin-bottom: 5px;">Description</strong>
		<textarea [(ngModel)]="_section.description" (ngModelChanged)="changed()" rows="5" placeholder="Description"></textarea>
	</div>
	<div *ngIf="_section.payloads && _section.payloads.length > 0" fxLayout="row" fxLayoutAlign="start start" style="padding: 10px; background-color: #f2fdff; border : 2px dashed black; margin-top: 5px; margin-bottom: 5px;" >
		<div *ngFor="let payload of _section.payloads; let i = index" style="margin-right: 5px;">
			<table class="table table-bordered" style="background-color: white;">
				<thead>
					<tr>
						<th fxLayout="row" fxLayoutAlign="space-between center">
							<strong>{{ (payload.groupBy && payload.groupBy.length > 0) ? 'Chart' : 'Indicator'}} ({{ names[payload.type] }}) </strong>
							<i class="fa fa-minus float-right" style="color: red; margin-left: 5px; cursor: pointer;" (click)="remove(i,_section.payloads)"></i>
						</th>
					</tr>
				</thead>
				<tbody style="background-color: lightgrey;" *ngIf="payload.filters && payload.filters.length >0">
					<tr>
						<th style="text-align: center;"> Selector </th>
					</tr>
					<tr >
						<table style="width: 100%;">
							<tr *ngFor="let filter of payload.filters">
								<td>
									{{filter.field}}
								</td>
								<td>
									{{filter.value}}
								</td>
							</tr>
						</table>
					</tr>
				</tbody>
				<tbody *ngIf="payload.groupBy && payload.groupBy.length >0">
					<tr>
						<th style="text-align: center;"> Group By </th>
					</tr>
					<tr *ngFor="let group of payload.groupBy">
						<td style="text-align: center;">{{group}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div fxLayout="column" fxLayoutAlign="start stretch">
		<button class="btn btn-warning" style="cursor: pointer;" (click)="openDialog()">
			<i class="fa fa-plus"></i>
			Add Payload
		</button>
	</div>
</div>
