<div style="width: 100%; margin-bottom: 5px;" fxLayout="column" fxLayoutAlign="start stretch">
	<!--<div fxLayout="column" fxLayoutAlign="center end">-->
		<!--<button class="btn btn-warning" style="cursor: pointer;" (click)="openDialog()">-->
			<!--<i class="fa fa-plus"></i>-->
			<!--Add Payload-->
		<!--</button>-->
	<!--</div>-->
	<div fxLayout="column" fxLayoutAlign="start stretch">
		<mat-form-field>
			<input  [(ngModel)]="_section.title" matInput (ngModelChanged)="changed()" placeholder="Title"/>
		</mat-form-field>
	</div>
	<div fxLayout="column" fxLayoutAlign="start stretch">
		<textarea matInput [(ngModel)]="_section.description" (ngModelChanged)="changed()" rows="5" placeholder="Description"></textarea>
	</div>
	<div fxLayout="column" fxLayoutAlign="center end">
		<button mat-raised-button color="primary" (click)="openDialog()">Add Payload</button>
	</div>
	<div *ngIf="_section.payloads && _section.payloads.length > 0" fxLayout="row" fxLayoutAlign="start start" style="padding: 10px; background-color: #f2fdff; border : 2px dashed black; margin-top: 5px; margin-bottom: 5px;" >
		<div *ngFor="let payload of _section.payloads; let i = index" style="margin-right: 5px;">
			<table class="table table-bordered" style="background-color: white;">
				<thead>
					<tr>
						<th fxLayout="row" fxLayoutAlign="space-between center">
							<strong>{{ $template.plural(payload) ? 'Chart' : 'Indicator'}} ({{ names[payload.type] }}) </strong>
							<i class="fa fa-minus float-right" style="color: red; margin-left: 5px; cursor: pointer;" (click)="remove(i,_section.payloads)"></i>
						</th>
					</tr>
				</thead>
				<tbody style="background-color: lightgrey;" *ngIf="payload.filters && payload.filters.length >0" #show="var" [var]="true">
					<tr>
						<th style="text-align: center;" fxLayout="row" fxLayoutAlign="space-between center">
							<strong>Selector</strong>
							<i (click)="show.var = !show.var;" [ngClass]="{'fa-eye' : show.var, 'fa-eye-slash' : !show.var}" class="fa" style="cursor : pointer; color: green;"></i>
						</th>
					</tr>
					<tr *ngIf="!show.var">
						<table style="width: 100%;">
							<tr *ngFor="let filter of payload.filters">
								<td>
									{{filter.field}}
								</td>
								<td>
									<span >{{$template.value(filter.value, filter.field, ageGroups, _detections, _cvx)}}</span>
								</td>
							</tr>
						</table>
					</tr>
				</tbody>
				<tbody *ngIf="payload.groupBy && payload.groupBy.length >0" #show="var" [var]="true">
					<tr>
						<th style="text-align: center;" fxLayout="row" fxLayoutAlign="space-between center">
							<strong>Group By</strong>
							<i (click)="show.var = !show.var;" [ngClass]="{'fa-eye' : show.var, 'fa-eye-slash' : !show.var}" class="fa" style="cursor : pointer; color: green;"></i>
						</th>
					</tr>
					<tr *ngIf="!show.var" >
						<td>
							<table style="width: 100%;">
								<tr *ngFor="let group of payload.groupBy">
									<td style="text-align: center;">{{group}}</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
				<tbody style="background-color: lightgrey;" *ngIf="payload.groupFilters && payload.groupFilters.length >0" #show="var" [var]="true">
					<tr>
						<th style="text-align: center;" [attr.colspan]="payload.groupBy.length" fxLayout="row" fxLayoutAlign="space-between center">
							<strong>Group Filter</strong>
							<i (click)="show.var = !show.var;" [ngClass]="{'fa-eye' : show.var, 'fa-eye-slash' : !show.var}" class="fa" style="cursor : pointer; color: green;"></i>
						</th>
					</tr>
					<tr *ngIf="!show.var">
						<td>
							<table style="width: 100%;">
								<tr>
									<th style="text-align: center;" *ngFor="let g of payload.groupBy" > {{g}} </th>
									<th>Threshold</th>
								</tr>
								<tr *ngFor="let groupF of payload.groupFilters">
									<td style="text-align: center;" *ngFor="let g of payload.groupBy" >{{groupF.values[g] ? $template.value(groupF.values[g], g, ageGroups, _detections, _cvx) : '*'}}</td>
									<td>{{groupF.threshold}}%</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="payload.options" #show="var" [var]="true">
					<tr>
						<th style="text-align: center;" [attr.colspan]="payload.groupBy.length" fxLayout="row" fxLayoutAlign="space-between center">
							<strong>Options</strong>
							<i (click)="show.var = !show.var;" [ngClass]="{'fa-eye' : show.var, 'fa-eye-slash' : !show.var}" class="fa" style="cursor : pointer; color: green;"></i>
						</th>
					</tr>
					<tr *ngIf="!show.var && !$template.plural(payload)">
						<td fxLayout="row" fxLayoutAlign="space-between center">
							<strong>Threshold</strong>
							<span>{{payload.options.threshold != null ? payload.options.threshold : 'None'}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
