<table class="table table-bordered table-sm" style="width: 100%;">
    <tr [ngClass]="{'not-active': !value.denominatorVariable}">
        <th style="vertical-align: middle; vertical-align: middle; text-align: center; width: 35%; background-color: whitesmoke;">
          Override Denominator Value Using Variable
        </th>
        <td style="padding-left: 25px;">
          <div style="width: 100%; height: 100%; display: flex; justify-content: flex-end;">
            <div style="flex-grow: 1;">
              <div *ngIf="value.denominatorVariable">
                <app-variable-ref [variable]="value.denominatorVariable"></app-variable-ref>
              </div>
            </div>
            <div style="display: flex; flex-direction: column; gap: 2px; margin-left: 5px;">
              <button (click)="openDenominatorVariableDialog()" class="btn btn-sm btn-primary">
                <i class="fa fa-pencil"></i>
              </button>
              <button *ngIf="value.denominatorVariable" (click)="removeDenominatorVariable()" class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>  
          </div>
        </td>
      </tr>
</table>
