<div fxFlexFill class="back" fxLayout="column" fxLayoutAlign="start stretch">
	<div style="height: 60px;"></div>
	<div fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="padding: 50px;  width: 100%; padding: 50px;">
		<div class="card" style="padding: 50px;">
			<div class="card-block" fxLayout="column" fxLayoutAlign="start stretch">
				<h4 class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
					<span> My Jobs </span>
					<div fxLayout="row" fxLayoutAlign="end center">
						<div class="btn-group" dropdown>
							<button dropdownToggle type="button" class="btn btn-info dropdown-toggle">
								<i class="fa fa-refresh" aria-hidden="true"></i> {{current == -1 ? "Disabled" : current+" s"}} <span class="caret"></span>
							</button>
							<ul *dropdownMenu class="dropdown-menu" role="menu">
								<li *ngFor="let rate of rates" role="menuitem" style="cursor: pointer;"><a
									class="dropdown-item" (click)="setRefreshRate(rate)">{{rate == -1 ? "Disable" : rate+" seconds"}}</a></li>
							</ul>
						</div>
						<button routerLink="../create" fxFlexOffset="2" type="button" class="btn btn-primary">
							<i class="fa fa-plus" aria-hidden="true"></i>
							<span>New Job</span>
						</button>
					</div>
				</h4>
				<div fxFlex="90" style="overflow-y: scroll;" class="list-group">
					<span *ngIf="jobs.length === 0" style="width: 100%; font-size: 18px;  text-align : center; font-weight: bold; color: darkgrey;">YOU HAVE NO ANALYSIS JOB - CREATE ONE BY CLICKING ON [+ NEW JOB] BUTTON</span>
					<div *ngFor="let job of jobs; let i = index" fxLayout="column" fxLayoutAlign="center stretch">
						<a class="list-group-item list-group-item-action" fxLayout="row" fxLayoutAlign="start center">
							<div fxFlex="10" style="text-align: center;">
								<span>{{job.name}}</span>
							</div>
							<div  fxFlex="10" style="text-align: center;">
								<a [routerLink]="'/configuration/'+job.configuration.id"><i class="fa fa-cog" aria-hidden="true"></i> {{job.configuration.name}}</a>
							</div>
							<div fxFlex="10" style="text-align: center;">
								<span class="badge" [ngStyle]="{'background-color' :
																job.running() ? 'blue' :
																job.finished() ? 'green' :
																job.queued() ? 'gold' :
																job.failed() ? 'red' :
																job.stopped() ? 'red' :
																'gray'}">{{job.status}}</span>
							</div>
							<div fxFlex.gt-lg="35" fxFlex.gt-md="30" fxLayout="column" fxLayoutAlign="center center">
								<div class="progress" fxLayout="column" fxLayoutAlign="center start" style="position:relative; background-color: lightgrey; width: 80%; height: 30px; text-align: center; margin: auto;" >
									<div style="height: 30px;" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{ 'width' : (job.progress*100) +'%' }" [attr.aria-valuenow]="(job.progress * 100)" aria-valuemin="0" aria-valuemax="100">
									</div>
									<span style="color : white; font-weight: bold; width : 100%; text-align : center; font-size : 15px; position: absolute;">{{(job.progress * 100)+"%"}}</span>
								</div>
							</div>
							<div fxFlex.gt-lg="30" fxLayout="row" fxLayoutAlign="center center">
								<div fxFlex.gt-lg="33" *ngIf="job.dateCreated" style="vertical-align: middle;">
									<strong>Submited On</strong><br>
									{{job.dateCreated | date:'yyyy-MM-dd HH:mm:ss'}}
								</div>
								<div fxFlex.gt-lg="33" *ngIf="job.dateStarted"  style="vertical-align: middle;">
									<strong>Started On</strong><br>
									{{job.dateStarted | date:'yyyy-MM-dd HH:mm:ss'}}
								</div>
								<div fxFlex.gt-lg="33" *ngIf="job.dateEnded"  style="vertical-align: middle;">
									<strong>Ended On</strong><br>
									{{job.dateEnded | date:'yyyy-MM-dd HH:mm:ss'}}
								</div>
							</div>
							<div fxFlex.gt-lg="5" fxFlex.gt-md="3" style="vertical-align: middle; height: 100%;" fxLayout="row" fxLayoutAlign="center center">
								<div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="50">
									<button *ngIf="!job.running()" fxFlex="47" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
									<button *ngIf="job.finished()"  fxFlexOffset="5" fxFlex="48" class="btn btn-sm btn-primary" [routerLink]="['../analysis',job.id]"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
								</div>
								<div *ngIf="job.running()"  fxLayout="column" fxLayoutAlign="center stretch" fxFlexOffset="5" fxFlex="50">
									<button fxFlex="47" class="btn btn-sm btn-danger"><i class="fa fa-stop" aria-hidden="true"></i></button>
									<button fxFlexOffset="5" fxFlex="48" (click)="toggle(i)" class="btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
								</div>
							</div>
						</a>
						<div *ngIf="toggled(i)" class="list-group-item" style="background-color: lightgrey;"  fxLayout="row" fxLayoutAlign="start start">
							<div fxFlexOffset="3">
								<strong>Files Status</strong><br>
								<div fxLayout="column" fxLayoutAlign="center start">
									<span><i [ngStyle]="{ color : job.files.patients ? 'green' : 'red'}" class="fa fa-hdd-o" aria-hidden="true"></i> patients data</span>
									<span><i [ngStyle]="{ color : job.files.vaccines ? 'green' : 'red'}" class="fa fa-hdd-o" aria-hidden="true"></i> vaccination data</span>
								</div>
							</div>
							<div fxFlexOffset="3">
								<strong>Estimated Remaining Time</strong><br>
								10 minutes
							</div>
							<div fxFlexOffset="3">
								<strong>Number of Records</strong><br>
								10000000
							</div>
							<div fxFlexOffset="3">
								<strong>Processed records</strong><br>
								90767
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
