<ul class="list-group">
  <li class="list-group-item cursor-pointer" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;" routerLink="users" routerLinkActive="active">
    <i class="fa fa-user-circle"></i>
    <span style="width: 100%; text-align: center;">Manage Users</span>
  </li>
  <li class="list-group-item cursor-pointer" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;" routerLink="tool-configuration" routerLinkActive="active">
    <i class="fa fa-wrench"></i>
    <span style="width: 100%; text-align: center;">Tool Configuration & Status</span>
  </li>
  <li class="list-group-item cursor-pointer" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;" routerLink="email-templates" routerLinkActive="active">
    <i class="fa fa-envelope"></i>
    <span style="width: 100%; text-align: center;">Email templates</span>
  </li>
  <li class="list-group-item cursor-pointer" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;" routerLink="web-content" routerLinkActive="active">
    <i class="fa fa-file-text"></i>
    <span style="width: 100%; text-align: center;">Web Content (Narratives)</span>
  </li>
</ul>
