<form>
  <div class="form-group">
    <label for="name"><strong>IIS Name</strong></label>
    <input type="text" placeholder="Name" class="form-control" name="name" id="name" [ngModel]="facility.name" (ngModelChange)="nameChange($event)" required>
  </div>

  <div class="form-group" >
    <table class="table table-sm table-stripped">
      <thead>
        <tr>
          <th>User Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Name</th>
          <th>
            <button class="btn btn-sm btn-primary pull-right" (click)="addUsers()">
              <i class="fa fa-plus"></i>
              Add User
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of facility.members; let i = index;">
          <td>
            <span style="font-size: 14px; margin-right: 5px;" class="badge badge-primary">
              qDAR ({{ item.id }})
            </span>
            <span *ngFor="let id of item.issuerIdList" style="font-size: 14px; margin-right: 5px;" class="badge badge-dark">
              {{ id.issuer }} ({{ id.userId }})
            </span>
          </td>
          <td>
            {{ item.username }}
          </td>
          <td>
            {{ item.email }}
          </td>
          <td>
            {{ item.name }}
          </td>
          <td>
            <button class="btn btn-sm btn-danger pull-right" (click)="removeUser(i)">
              <i class="fa fa-minus"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
