/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');


.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
	background-color: black !important;
}

.nav-link-active {
	background-color: #ffc107;
	color: black !important;
}

.nav-link {
	color: #2196f3 !important;
}
