.nav-back {
	background-color: #031a4c;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid black;
}

.back {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0046c9+0,2b65e2+51,0e5fc9+51,01266d+100 */
	background: #0046c9; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #0046c9 0%, #2b65e2 51%, #0e5fc9 51%, #01266d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #0046c9 0%,#2b65e2 51%,#0e5fc9 51%,#01266d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #0046c9 0%,#2b65e2 51%,#0e5fc9 51%,#01266d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0046c9', endColorstr='#01266d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.card {
    width: 100%;
	padding : 5px;
	max-height : 500px;
	overflow-y : scroll;
}

.bold {
    font-weight: bold;
}

.space-left {
	margin-left : 5px;
}

.table-head-2 {
    text-align: center;
    background-color: #ffe000;
    font-weight: bold;
}

.table-head-1 {
    text-align: center;
    background-color: #8cbefd;
    font-weight: bold;
}

.age-group {
    background-color: aliceblue;
}

.table-cell {
    background-color: lightgray;
}

.header-section {
     text-align: center;
     font-weight: bold;
     font-size: larger;
     background-color: darkblue;
     color: white;
}

.header-normal{
     text-align: center;
     font-weight: bold;
}

.nist {
	color: #F3C60D; font-size: 25px; font-weight: bold;
}

.sub {
	font-size: 20px; color: #ececec;
}

.content-area {
	width : 100%; margin-top : 70px; padding : 30px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.date {
	color : cyan;
}

.space {
	margin-top : 10px;
}

.card-content-custom {
	padding : 5px; max-height : 500px; overflow-y : scroll;
}

.card-head {
	font-size : 1.5em; width : 100%;
}