<div style="width: 100%; padding : 10px; border-top: 1px solid darkgrey; background-color: #ecdc988a;" fxLayout="row" fxLayoutAlign="space-between center">
	<img src="assets/images/nist-logo.png" height="50px">
	<div fxLayout="column" fxLayoutAlign="start start">
		<span style="font-weight: bold;">Application Date</span>
		<span>{{sInfo().date | date}}</span>
	</div>
	<div fxLayout="column" fxLayoutAlign="start start">
		<span style="font-weight: bold;">Supported Browsers</span>
		<span>
			<i class="fa fa-firefox"></i> Firefox, <i class="fa fa-chrome"></i> Chrome, <i class="fa fa-safari"></i>Safari, <i class="fa fa-internet-explorer"></i> IE 9+
		</span>
	</div>
	<div fxLayout="column" fxLayoutAlign="start start">
		<span style="font-weight: bold;">External Links</span>
		<div fxLayout="row" fxLayoutAlign="start start">
			<a href="http://www.nist.gov/public_affairs/disclaimer.cfm" target="_blank" title="View Disclaimer">Disclaimer</a>
			<a href="http://www.nist.gov/public_affairs/privacy.cfm#privpolicy" target="_blank" title="View Privacy Policy">Privacy/Policy</a>
			<a ng-href="mailto:" title="Email Website Administrator @: " href="mailto:">Website Administrator</a>
		</div>
	</div>
</div>
