<div fxFlexFill class="back" fxLayout="column" fxLayoutAlign="start stretch" >
	<div style="height: 60px;"></div>
	<div fxFlex fxLayout="column" fxLayoutAlign="center stretch" style="padding: 50px;  width: 100%; padding: 50px;" >
		<div class="card" fxFlex="40" >
			<div class="card-block">
				<h4 class="card-title">Welcome !</h4>
				<h6 class="card-subtitle mb-2 text-muted">Introduction</h6>
				<p class="card-text"></p>
			</div>
		</div>
		<div fxFlexOffset="1" class="card" fxFlex="25" >
			<div class="card-block">
				<h4 class="card-title">Have a Question ?</h4>
				<h6 class="card-subtitle mb-2 text-muted">Help</h6>
				<p class="card-text"></p>
			</div>
		</div>
		<div fxFlexOffset="1" class="card" fxFlex="25" >
			<div class="card-block">
				<h4 class="card-title">Disclaimer</h4>
				<p class="card-text"></p>
			</div>
		</div>
	</div>
</div>
