<div class="page-container">
  <div class="page-alerts">
    <dam-alerts-container></dam-alerts-container>
  </div>
  <div class="page-title upload-page-title">
    <h4 class="title-text title-heading" ><i class="fa fa-user" style="color: blue;"></i> Password reset request  </h4>
  </div>
  <div class="page-content upload-page-content">
    <form class="upload-form" [formGroup]="form" >
      <div class="form-group">
        <label for="name"><strong>Enter your email address</strong></label>
        <input type="email" placeholder="Email" class="form-control" formControlName="email" name="email" id="email" required>
      </div>
      <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
        <button class="btn btn-sm btn-primary" [disabled]="form.invalid" (click)="submit()">
          Request password reset link
        </button>
      </div>
    </form>
  </div>
</div>
