<div fxLayout="column" fxLayoutAlign="start stretch">
	<div fxLayout="row" fxLayoutAlign="center stretch">
		<strong style="margin-right: 10px; text-align: center;">Analysis Type</strong>
		<mat-select [compareWith]="same" (selectionChange)="reset()"
					style="width: 800px; background-color: lightgrey; text-align: center;"
					[(value)]="selected">
			<mat-option *ngFor="let group of types" [value]="group">{{group.label}}</mat-option>
		</mat-select>
	</div>
	<mat-divider [ngStyle]="selected ? {'margin-top' : '24px'} : {}"></mat-divider>
	<div class="alert bg-info" role="alert" *ngIf="step < 3 && selected" fxLayout="row" fxLayoutAlign="center center">
		<i class="fa fa-info-circle" style="margin-right: 10px; color: white; font-size: 1.5em;"></i><span fxFlex
																										   style="text-align: center;">Drag and Drop Criteria from the left panel into the right panel to add {{step === 1 ? 'filters' : 'groups'}}</span>
	</div>
	<div class="alert bg-danger" role="alert" fxLayout="row" fxLayoutAlign="center center" *ngIf="issues().length > 0">
		<i class="fa fa-times-circle" style="margin-right: 10px; color: pink; font-size: 1.5em;"></i>
		<div fxFlex style="text-align: center;">
			<span *ngFor="let m of issues()">{{m}}<br></span>
		</div>
	</div>

	<div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="selected">
		<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 24px;">
			<span fxFlex *ngFor="let x of plural() ? [1,2,3] : [1,2,3,4]" fxLayout="row" fxLayoutAlign="center center">
					<span [ngStyle]="{ 'background-color' : x === step ? '#0e5fc9' : 'lightgrey' }" class="badge"
						  style="color: white; width: 20px; height: 20px; border-radius: 40%;">{{x}}</span>&nbsp;-&nbsp;<strong
				[ngStyle]="{ 'color' : x === step ? 'black' : 'lightgrey' }">{{x === 1 ? 'Select Your Sample' : x === 2 ? 'Group Your Sample Data' : x === 3 ? 'Filter Your Groups' : x === 4 ? 'Options' : ''}}  </strong>
			</span>
		</div>
		<div style="min-width: 800px; margin-top : 24px;">
			<div fxLayout="column" fxLayoutAlign="start stretch"
				 style="border: 1px solid black; padding: 10px; width : 300px; text-align: center;">
				<strong> Criteria </strong>
				<mat-list [dndList]="{
					disabled: false,
					effectAllowed: 'move',
					allowedTypes: []
					}" [dndModel]="selected.fields" [dndPlaceholder]="placeholder">
					<div *ngFor="let field of selected.fields; let i = index"
						 [dndDraggable]="{draggable: true, effectAllowed:'move'}"
						 [dndObject]="field"
						 [dndType]="'field'"
						 (dndMoved)="removeField(i, selected.fields)">
						<mat-divider></mat-divider>
						<mat-list-item>
							<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; height: 100%;">
								<i class="fa fa-bars" style="color: blue;"></i>
								<strong fxFlex style="text-align: center;">{{field}}</strong>
							</div>
						</mat-list-item>
					</div>
				</mat-list>
			</div>
			<div fxFlex fxLayout="column" fxLayoutAlign="start stretch"
				 style="padding-right: 10px; padding-left: 10px;" *ngIf="step === 1">
				<div fxLayout="column" fxLayoutAlign="start stretch"
					 [ngStyle]="{ height: (filters && filters.length > 0) ? 'initial' : '100%'}"
					 style="padding: 10px; flex : initial !important; border: 1px solid black; text-align: center;">
					<strong> Filter </strong>
					<mat-list [dndList]="{ disabled: false, effectAllowed: 'move'}" [dndModel]="filters"
							  [dndPlaceholder]="placeholder"
							  [ngStyle]="{ height: (filters && filters.length > 0) ? 'initial' : '100%'}">
						<div *ngFor="let filter of filters; let i = index" fxLayout="column"
							 fxLayoutAlign="start stretch">
							<mat-divider></mat-divider>
							<mat-list-item style="padding-right : 0px !important;">
								<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
									<div fxLayout="row" fxLayoutAlign="start center" style="margin-right: 5px;">
										<i class="fa fa-minus" style="color: red; cursor: pointer; margin-right: 5px;"
										   (click)="remove(i, filters, filter)"
										   *ngIf="!fixed(filter)"></i>
										<strong style="margin-right: 5px;">{{filter}}</strong>
									</div>
									<ng-container
										*ngTemplateOutlet="template(filter); context : {$implicit : filter, value : values, sug : suggestions(filter)}"></ng-container>
								</div>
							</mat-list-item>
						</div>
					</mat-list>
				</div>
			</div>
			<div fxFlex fxLayout="column" fxLayoutAlign="start stretch"
				 style="padding-right: 10px; padding-left: 10px;" *ngIf="step === 2">
				<div fxLayout="column" fxLayoutAlign="start stretch"
					 [ngStyle]="{ height: (groupBy && groupBy.length > 0) ? 'initial' : '100%'}"
					 style="padding: 10px; flex : initial !important; border: 1px solid black; text-align: center;">
					<strong> Group By </strong>
					<mat-list [dndList]="{
						disabled: false,
						effectAllowed: 'move'
						}"
							  [ngStyle]="{ height: (groupBy && groupBy.length > 0) ? 'initial' : '100%'}"
							  [dndModel]="groupBy" [dndPlaceholder]="placeholder">
						<div *ngFor="let group of groupBy; let i = index">
							<mat-divider></mat-divider>
							<mat-list-item>
								<div fxLayout="row" fxLayoutAlign="space-between center"
									 style="width: 100%; height: 100%;">
									<i class="fa fa-minus" style="color: red; cursor: pointer;"
									   (click)="remove(i, groupBy, group)"></i>
									<strong fxFlex style="text-align: center;">{{group}}</strong>
								</div>
							</mat-list-item>
						</div>
					</mat-list>
				</div>
			</div>
			<div fxFlex fxLayout="column" fxLayoutAlign="start stretch"
				 style="padding-right: 10px; padding-left: 10px;" *ngIf="step === 3">
				<table class="table table-bordered table-striped">
					<thead>
					<tr>
						<th><i class="fa fa-plus" style="color: #0e5fc9" (click)="addGroupFilter()"
							   *ngIf="aFilterIsEnabled()"></i></th>
						<th *ngFor="let group of groupBy">
							<div style="width: 100%; height: 100%;" fxLayout="row" fxLayoutAlign="center center">
								<strong style="margin-right: 5px;">{{group}}</strong>
								<mat-slide-toggle [checked]="enabledFilters[group]"
												  (change)="enable(group,$event)"></mat-slide-toggle>
							</div>
						</th>
						<th>
							Threshold %
						</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let groupF of groupFilters; let i = index">
						<td><i class="fa fa-minus" style="color: red;" (click)="removeGroupFilter(i)"></i></td>
						<td *ngFor="let group of groupBy">
							<div style="width: 100%; height: 100%;" fxLayout="row" fxLayoutAlign="center center"
								 *ngIf="enabledFilters[group]">
								<ng-container
									*ngTemplateOutlet="template(group); context : {$implicit : group, value : groupF.values, sug : suggestions(group)}"></ng-container>
							</div>
						</td>
						<td>
							<mat-checkbox (ngModelChange)="activateGroupThreshold(groupF)"
										  [(ngModel)]="groupF.enableT"></mat-checkbox>
							<input *ngIf="groupF.enableT" type="number" [(ngModel)]="groupF.threshold">
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div fxFlex fxLayout="column" fxLayoutAlign="start stretch"
				 style="padding-right: 10px; padding-left: 10px;" *ngIf="step === 4">
				<div fxLayout="row" fxLayoutAlign="space-between start" style="margin-top : 10px;" *ngIf="needOption()">
					<mat-checkbox (ngModelChange)="activateThreshold()" [(ngModel)]="threshold">Threshold %
					</mat-checkbox>
					<input *ngIf="threshold" style="width: 300px;" min="0" max="100" type="number"
						   [(ngModel)]="options.threshold">
				</div>
			</div>
		</div>
		<div style="padding: 10px;">
			<button class="btn float-right"
					[ngClass]="{ 'btn-primary' : !(step === 4 || (step === 3 && !needOption())), 'btn-success' : (step === 4 || (step === 3 && !needOption())) }"
					style="cursor: pointer;" (click)="next()" *ngIf="canStep()">
				{{ step === 4 || (step === 3 && !needOption()) ? 'Finish' : 'Next' }}
				<i [ngClass]="{ 'fa-chevron-right' : !(step === 4 || (step === 3 && !needOption())), 'fa-check' : (step === 4 || (step === 3 && !needOption())) }"
				   class="fa"></i>
			</button>
			<button class="btn btn-primary float-right" style="cursor: pointer; margin-right: 5px;" (click)="back()"
					*ngIf="step > 1">
				<i class="fa fa-chevron-left"></i>
				Back
			</button>
		</div>
		<div fxLayout="row" fxLayoutAlign="center center" #placeholder
			 style="background-color: lightgrey; height: 100%; width: 100%; border: 2px dashed black;">
			<strong style="font-size: 20px; color: black;"> Drop Here </strong>
		</div>
	</div>
</div>

<!--<div fxLayout="row" fxLayoutAlign="space-between stretch" style="margin-top: 5px;" *ngIf="selected">-->
<!--<div fxFlex="29" fxLayout="column" fxLayoutAlign="start stretch" style="border: 1px solid black; padding: 10px; text-align: center;">-->
<!--<strong> Criteria </strong>-->
<!--<mat-list [dndList]="{-->
<!--disabled: false,-->
<!--effectAllowed: 'move',-->
<!--allowedTypes: []-->
<!--}" [dndModel]="selected.fields" [dndPlaceholder]="placeholder">-->
<!--<div *ngFor="let field of selected.fields; let i = index"-->
<!--[dndDraggable]="{draggable: true, effectAllowed:'move'}"-->
<!--[dndObject]="field"-->
<!--[dndType]="'field'"-->
<!--(dndMoved)="removeField(i, selected.fields)">-->
<!--<mat-divider></mat-divider>-->
<!--<mat-list-item >-->
<!--<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; height: 100%;">-->
<!--<i class="fa fa-bars" style="color: blue;"></i>-->
<!--<strong fxFlex style="text-align: center;">{{field}}</strong>-->
<!--</div>-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</mat-list>-->
<!--</div>-->
<!--<div fxFlex="69" fxLayout="row" fxLayoutAlign="start stretch" style="border: 1px solid blue;">-->
<!--<div fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="padding: 10px; border-right: 1px solid blue; text-align: center;"-->
<!--[dndList]="{ disabled: false, effectAllowed: 'move'}" [dndModel]="filters" [dndPlaceholder]="placeholder">-->
<!--<strong> Filter </strong>-->
<!--<mat-list>-->
<!--<div *ngFor="let filter of filters; let i = index" fxLayout="column" fxLayoutAlign="start stretch">-->
<!--<mat-divider></mat-divider>-->
<!--<mat-list-item style="padding-right : 0px !important;">-->
<!--<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">-->
<!--<div  fxLayout="row" fxLayoutAlign="start center" style="margin-right: 5px;">-->
<!--<i class="fa fa-minus" style="color: red; cursor: pointer; margin-right: 5px;" (click)="remove(i, filters, filter)"></i>-->
<!--<strong style="margin-right: 5px;">{{filter}}</strong>-->
<!--</div>-->
<!--<ng-container *ngTemplateOutlet="template(filter); context : {$implicit : filter}"></ng-container>-->
<!--</div>-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</mat-list>-->
<!--</div>-->
<!--<div fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="padding: 10px; border-right: 1px solid blue; text-align: center;"-->
<!--[dndList]="{-->
<!--disabled: false,-->
<!--effectAllowed: 'move'-->
<!--}"-->
<!--[dndModel]="groupBy" [dndPlaceholder]="placeholder">-->
<!--<strong> Group By </strong>-->
<!--<mat-list>-->
<!--<div *ngFor="let group of groupBy; let i = index">-->
<!--<mat-divider></mat-divider>-->
<!--<mat-list-item>-->
<!--<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; height: 100%;">-->
<!--<i class="fa fa-minus" style="color: red; cursor: pointer;" (click)="remove(i, groupBy, group)"></i>-->
<!--<strong fxFlex style="text-align: center;">{{group}}</strong>-->
<!--</div>-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</mat-list>-->

<!--</div>-->
<!--&lt;!&ndash;<div fxFlex fxLayout="column" fxLayoutAlign="start center" style="padding: 10px;">&ndash;&gt;-->
<!--&lt;!&ndash;<strong> Compute </strong>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<div fxLayout="row" fxLayoutAlign="center center" #placeholder style="background-color: lightgrey; height: 100%; width: 100%; border: 2px dashed black;">-->
<!--<strong style="font-size: 20px; color: black;"> Drop Here </strong>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--<button class="btn btn-success float-right" style="cursor: pointer; margin-top: 5px; width: 150px;" (click)="closeDialog()" *ngIf="submittable()">-->
<!--<i class="fa fa-plus"></i>-->
<!--Add-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--<ng-template #fieldValueSelect let-options="options" let-multiple="multiple" let-display="utils" let-key let-values="value">-->
	<!--<div *ngIf="multiple">-->
		<!--<span *ngFor="let value of values[key]; let i = index">-->
			<!--{{display.stringify(key, value)}}-->
			<!--<i class="fa fa-times" style="color: red;" (click)="remove(i, values[key])"></i>-->
		<!--</span>-->
	<!--</div>-->
	<!--<p-multiSelect appendTo="body" [filter]="true" [options]="options" [virtualScroll]="true" filterBy="label" [selectionLimit]="multiple ? null : 1" [(ngModel)]="values[key]"></p-multiSelect>-->
<!--</ng-template>-->

<!--<ng-template #fieldValueList let-options="options" let-display="utils" let-key let-values="value" #local="var" [var]="{ stub : '' }">-->
	<!--<span *ngFor="let value of values[key]; let i = index">-->
			<!--{{display.stringify(key, value)}}-->
			<!--<i class="fa fa-times" style="color: red;" (click)="remove(i, values[key])"></i>-->
	<!--</span>-->
	<!--<div fxLayout="row">-->
		<!--<input type="text" [(ngModel)]="local.var.stub">-->
		<!--<button (click)="addValue(local.var.stub, values[key])"> Add</button>-->
	<!--</div>-->
<!--</ng-template>-->


<ng-template #detection let-key let-values="value">
	<p-dropdown [options]="detectionList[detectionsList()]" [(ngModel)]="values[key]" appendTo="body" [filter]="true"
				filterBy="label,value.code"></p-dropdown>
</ng-template>
<ng-template #table let-key let-values="value">
	<mat-select [(value)]="values[key]" style="width: 300px;">
		<mat-option *ngFor="let table of tables()" [value]="table">{{table}}</mat-option>
	</mat-select>
</ng-template>
<ng-template #gender let-key let-values="value">
	<mat-select [(value)]="values[key]" style="width: 300px;">
		<mat-option [value]="'M'">Male</mat-option>
		<mat-option [value]="'F'">Female</mat-option>
		<mat-option [value]="'U'">Unknown</mat-option>
	</mat-select>
</ng-template>
<ng-template #event let-key let-values="value">
	<mat-select [(value)]="values[key]" style="width: 300px;">
		<mat-option [value]="'00'">Administered</mat-option>
		<mat-option [value]="'01'">Historical</mat-option>
	</mat-select>
</ng-template>
<ng-template #ageGroup let-key let-values="value">
	<mat-select [(value)]="values[key]" style="width: 300px;">
		<mat-option *ngFor="let group of configuration.ageGroups; let i = index" [value]="i+'g'">{{printRange(group)}}
		</mat-option>
		<mat-option [value]="configuration.ageGroups.length+'g'">+
		</mat-option>
	</mat-select>
</ng-template>
<ng-template #value let-key let-values="value" let-sug="sug" #elms="var" [var]="{ values : []}">
	<p-autoComplete [(ngModel)]="values[key]" [suggestions]="elms.var.values"
					(completeMethod)="search($event, sug, elms.var)">
		<ng-template let-val pTemplate="item">
			{{val}} {{sug[val] ? "- " + sug[val] : ""}}
		</ng-template>
	</p-autoComplete>
</ng-template>

