<!--<div fxLayout="column" fxLayoutAlign="start stretch">-->
	<!--<app-step-header [position]="_position" [active]="_active" [title]="_title"></app-step-header>-->
	<!--<div *ngIf="_position === _active" fxLayout="column" fxLayoutAlign="start stretch">-->
		<!--<div *ngFor="let filter of _filters" fxLayout="row" fxLayoutAlign="start stretch">-->
			<!--<span fxFlex="20">{{filter.field}}</span>-->
			<!--<span fxFlex="80">-->
				<!--<ng-container *ngTemplateOutlet="template(filter); context : {$implicit : filter, value : values, sug : suggestions(filter)}">-->
				<!--</ng-container>-->
			<!--</span>-->
		<!--</div>-->
		<!--<div fxLayout="column" fxLayoutAlign="start stretch">-->
			<!--<textarea matInput [(ngModel)]="_narrative.description" rows="5" placeholder="Description"></textarea>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->







<!--<ng-template #fieldValueSelect let-options="options" let-multiple="multiple" let-display="utils" let-key let-values="value">-->
	<!--<div *ngIf="multiple">-->
		<!--<span *ngFor="let value of values[key]; let i = index">-->
			<!--{{display.stringify(key, value)}}-->
			<!--<i class="fa fa-times" style="color: red;" (click)="remove(i, values[key])"></i>-->
		<!--</span>-->
	<!--</div>-->
	<!--<p-multiSelect appendTo="body" [filter]="true" [options]="options" [virtualScroll]="true" filterBy="label" [selectionLimit]="multiple ? null : 1" [(ngModel)]="values[key]"></p-multiSelect>-->
<!--</ng-template>-->

<!--<ng-template #fieldValueList let-options="options" let-display="utils" let-key let-values="value" #local="var" [var]="{ stub : '' }">-->
	<!--<span *ngFor="let value of values[key]; let i = index">-->
			<!--{{display.stringify(key, value)}}-->
			<!--<i class="fa fa-times" style="color: red;" (click)="remove(i, values[key])"></i>-->
	<!--</span>-->
	<!--<div fxLayout="row">-->
		<!--<input type="text" [(ngModel)]="local.var.stub">-->
		<!--<button (click)="addValue(local.var.stub, values[key])"> Add</button>-->
	<!--</div>-->
<!--</ng-template>-->
